.outerWrapper {
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
}

.wrapper {
  border: 1px solid transparent;
  margin: 5px;
  width: 70%;
}

.signIn {
  border: 1px solid transparent;
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
}

.error {
  border: 1px solid transparent;
  margin: 5px;
}

.signIn_label {
  margin: 5px;
}

.signIn_Bt {
  margin: 5px;
}

.signUp {
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  margin: 5px;
  background-color: #f5f5f5;
}

.signUp_form {
  display: flex;
  border: 1px solid transparent;
  margin: 5px;
  padding: 5px;
}

.margin {
  margin: 5px;
}
