.outerWrapper {
  border: 1px solid transparent;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wrapper {
  border: 1px solid transparent;
  grid-column: 2/-1;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.leftWrapper {
  border: 1px solid transparent;
  margin: 5px;
}

.leftImg {
  border: 1px solid transparent;
}

.leftImg img {
  width: 350px;
  border-radius: 50%;
}

.leftIcons {
  border: 1px solid transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.leftText {
  border: 1px solid transparent;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}

.signIn {
  border: 1px solid transparent;
  padding: 25px;
  margin: 5px;
  margin-top: -5px;
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
}

.error {
  border: 1px solid transparent;
  margin: 5px;
}

.signIn_label {
  margin: 5px;
}

.signIn_Bt {
  margin: 5px;
}

.signUp {
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  margin: 5px;
  margin-top: -5px;
  padding: 5px;
  background-color: #f5f5f5;
}

.signUp_form {
  display: flex;
  border: 1px solid transparent;
  margin: 5px;
  padding: 5px;
}

.margin {
  margin: 5px;
}

@media (max-width: 767px) {
  .outerWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .wrapper {
    width: 100%;
  }
}
