.wrapper {
  height: 650px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid transparent;
  margin: 5px;
}

@media only screen and (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .ind_card {
    width: 100%;
  }
}
