.wrapper {
  display: grid;
  grid-template-columns: 25% 1fr;
}

.filter {
  border: 1px solid black;
  margin: 2.5px;
}

.items {
  border: 1px solid black;
  overflow-y: scroll;
  margin: 2.5px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 99%;
  justify-items: center;
}
