.wrapper {
  display: grid;
  grid-template-columns: 25% 1fr;
  border: 1px solid transparent;
}

.filter {
  border: 1px solid black;
  margin: 2.5px;
}

.items {
  border: 1px solid transparent;
  overflow-y: scroll;
  margin: 2.5px;
  height: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 99%;
  justify-items: center;
}

@media only screen and (max-width: 768px) {
  .items {
    grid-template-columns: 1fr;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}
