.wrapper {
  border: 1px solid transparent;
  margin: 2.5px;
  padding: 5px;
}

.selected {
  border: 1px solid transparent;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

.selected_header {
  border-bottom: 1px solid black;
}

@media only screen and (max-width: 768px) {
}
